<!DOCTYPE html>
<html>
<title>CO2 Dashboard | Sustainability Lab | IIT-GN</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
<style>
html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>
<body class="w3-light-grey">

<!-- Top container -->
<div class="w3-bar w3-top w3-black w3-large" style="z-index:4">
	<!--
  <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();"><i class="fa fa-bars"></i>  Menu</button>
-->
  <span class="w3-bar-item w3-right">Sustainability Lab | IITGN</span>
</div>

<!-- Sidebar/menu -->




<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-top:43px;">

  <!-- Header -->
  <header class="w3-container" style="padding-top:22px">
    <h5><b><i class="fa fa-dashboard"></i> Live Air Quality From Building 6, Room 407D</b></h5>
  </header>

  <div class="w3-row-padding w3-margin-bottom">

    	<form action="/plot", method="POST">

		<select class="w3-select" name="tom">
			<option value="0">Select</option>
			<option value="1">Temperature</option>
			<option value="2">Moisture</option>
			<option value="3">CO2</option>
			<option value="4">VOC</option>
		</select>
		<input class="w3-btn w3-margin-bottom w3-margin-top w3-black" type="submit", value="Submit">
    	</form>
  

  	<div class="w3-container w3-yellow">
		<p>{{val}}</p>
  	</div>

  	<div id="myPlot" class="w3-conatiner w3-red">

		
  	</div>

  </div>

   

  
  
  <!-- Footer -->
  <footer class="w3-container w3-padding-16 w3-light-grey">
    <p><a href="https://sustainability-lab.github.io/" target="_blank">Sustainability Lab, IIT Gandhinagar</a></p>
  </footer>

  <!-- End page content -->
</div>
<script>
	var graph = {{plot|safe}}
	Plotly.plot('myPlot',graph,{})
</script>
</body>
</html>
