<!DOCTYPE html>
<html>
<title>CO2 Dashboard | Sustainability Lab | IIT-GN</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>
<body class="w3-light-grey">

<!-- Top container -->
<div class="w3-bar w3-top w3-black w3-large" style="z-index:4">
	<!--
  <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();"><i class="fa fa-bars"></i>  Menu</button>
-->
  <span class="w3-bar-item w3-right">Sustainability Lab | IITGN</span>
</div>

<!-- Sidebar/menu -->




<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-top:43px;">

  <!-- Header -->
  <header class="w3-container" style="padding-top:22px">
    <h5><b><i class="fa fa-dashboard"></i> Live Air Quality From Building 6, Room 407D</b></h5>
  </header>

  <div class="w3-row-padding w3-margin-bottom">

    <div class="w3-quarter">
      <div class="w3-container w3-blue w3-padding-16">
        <div class="w3-left"><i class="fa fa-cloud w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>{{temp}}</h3><small>&#8451;</small>
        </div>
        <div class="w3-clear"></div>
        <h4>Temperature</h4>
      </div>
    </div>
    <div class="w3-quarter">
      <div class="w3-container w3-green w3-padding-16">
        <div class="w3-left"><i class="fa fa-leaf w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>{{co2}}</h3><small>ppm</small>
        </div>
        <div class="w3-clear"></div>
        <h4>CO2</h4>
      </div>
    </div>
     <div class="w3-quarter">
      <div class="w3-container w3-red w3-padding-16">
        <div class="w3-left"><i class="fa fa-leaf w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>{{voc}}</h3><small>ppb</small>
        </div>
        <div class="w3-clear"></div>
        <h4>VOC</h4>
      </div>
    </div>
    <div class="w3-quarter">
      <div class="w3-container w3-green w3-padding-16">
        <div class="w3-left"><i class="fa fa-leaf w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>{{m}}</h3><small>%</small>
        </div>
        <div class="w3-clear"></div>
        <h4>Soil Moisture</h4>
      </div>
    </div>
	<hr>
	
	<div class="w3-container">
		<div class="w3-panel w3-red">
			<p><a href="http://10.0.62.222:5007/plot">Live Plots</a></p>
		</div>
	</div>
    
    
  </div>

  
  
  <!-- Footer -->
  <footer class="w3-container w3-padding-16 w3-light-grey">
    <p><a href="https://sustainability-lab.github.io/" target="_blank">Sustainability Lab, IIT Gandhinagar</a></p>
  </footer>

  <!-- End page content -->
</div>

<script>
setTimeout(function(){
			window.location.reload(1)
		},120000);
</script>

</body>
</html>
